.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
    gap: 2rem;
    padding: 2rem;
    color: black;
}
.cardProduct{
    border: 1px solid;
    border-radius: 16px;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardProduct__link button{
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    font-size: 28px;
    padding: 10px;
    border: none;
    display: flex;
}
.cardProductDiv{
    display: flex;
    background-color: rgb(71, 71, 216);
    padding: 12px;
    justify-content: space-around;
    border-radius: 24px;
    width: 100%;
}
.cardProductDiv div article h2{
    color: #fff;
}
.cardProductDiv div article p{
    font-size: 1.5rem;
}
.cardProduct img{
    width: 30%;
    height: auto;
}
/*Button categories */ 
.categoriesButtonClick{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoriesButtonClick em{
    font-size: 25px;
}
.categoriesButtonClick button {
    margin-left: 20px;
}
.categoriesButton {
    background-color: rgb(71, 71, 216);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.categoriesPanel {
    padding: 20px;
    background-color: grey;
    position: absolute; 
    border: 1px solid #ddd;
    margin-top: 35%;
}
.categoriesPanel div big{
    display: flex;
    align-items: center;
    margin-right: 12px;
}
  
.categoryList {
    list-style: none;
    padding: 0;
}
.categoryList div{
    display: flex;
    padding-top: 12px;
}
.categoryList li {
    padding: 1rem;
    border: 1px solid;
    cursor: pointer;
    border-radius: 12px;
}
.categoryList li:hover{
    color: red;
}
@media screen and (max-width: 1600px) {
    .categoriesPanel {
        margin-top: 700px;
    }
    .cardProductDiv{
        width: 100%;
    }
}