.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
    gap: 2rem;
}
.cardProduct{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 470px;
}
.cardProductDiv{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.cardProductDiv div article h2{
    color: #000000;
}
.cardProductDiv div article p{
    font-size: 1.8rem;
    color: #000000;
}
.divProductImg{
    width: 50%;
    margin: auto;
}
.imgProduct img{
    width: 100%;
    height: 300px;
}
/*Button categories */ 
/* styles.css o styles.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto+Condensed:ital,wght@1,700&display=swap');

.categoriesPanel {
    position: fixed;
    top: 0;
    width: 350px;
    height: 100%;
    background-color: rgb(138, 134, 134);
    color: #fff;
    transition: left 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}
  
/* styles.module.css */
.buttonCategories {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 45%;
}
.categoryList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.categorySection {
    margin-top: 20%;
}
.categorySection em{
    font-size: 25px;
}
.closeButton{
    cursor: pointer;
    font-size: 30px;
    border-radius: 7px;
}
.categoryTitle {
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
    cursor: pointer;
}
  
.subcategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
  
.subcategory {
    margin-right: 20px;
}
.subcategory li{
    cursor: pointer;
    border: 1px solid;
    padding: 12px;
    margin-top: 12px;
    border-radius: 12px;
}
.subcategory li:hover{
    color: black;
}
.refilCategories{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}
.categoriesButtonClickInput{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1600px) {
    .cardProductDiv{
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .cardProductDiv{
        width: 100%;
    }
    .categoriesPanel{
        width: 50%;
    }
    .categorySection em{
        font-size: 20px;
    }
}