.navBar{
    padding-top: 5%;
    height: 140px;
    width: 40%;
    margin-left: 50%;
}
.navBar__section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.bannerTienda{
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
}
.bannerTienda img{
    width: 100%;
    height: auto;
}
.headerHubCarrouselMarquee{
    width: 35%;
    margin-left: 37%;
    padding-top: 1%;
    font-size: 18px;
    color: black;
}