.navBar{
    padding-top: 35px;
    height: 70px;
    width: 40%;
    margin-left: 50%;
}
.navBar__section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.bannerTienda{
    display: flex;
    justify-content: center;
}