.headerHub {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    padding-top: 5%;
    height: 140px;
    width: 40%;
    margin-left: 50%;
}
.navBar__section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.bannerTienda{
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
}
.bannerTienda div img{
    width: 100%;
}
.headerHubCarrouselMarquee{
    font-size: 30px;
    width: 100%;
}