.infoProduct{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}
.infoProduct p {
    display: flex;
    flex-direction: column;
}
.infoProductDiv{
    padding: 10px;
    border-right: 1px solid;
    width: 50%;
    margin: auto;
    overflow: hidden;
}
.infoProductDiv img{
    width: 100%;
    display: block;
}
.historyProductInfo{
    color: black;
    margin-top: 2.5%;
    text-align: center;
    width: 20%;
    background-color: #fff;
    margin: auto;
}
.historyProductInfo span:hover {
    color: blue;
    text-decoration:underline;
}
.intInfoProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.intInfoProduct p{
    padding-top: 20px;
    font-size: 25px;
}
.intInfoProduct div a {
    color: red;
}
.intInfoProduct div a:hover {
    color: blue;
    text-decoration:underline;
}
.tallesInfoProduct{
    margin-right: 80%;
    font-size: 20px;
}
.botonCarrito{
    font-size: 2rem;
    height: 60px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(71, 71, 216);
    color: #fff;
    border: none;
    cursor: pointer;
}
.botonCarrito:hover{
    transform: translateY(6px);
}
.sectionProductInfoCarrito{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 30px;
}
.guiaTalles{
    text-align: center;
    margin-top: 2%;
}
.guiaTalles div img{
    padding: 12px;
    max-width: 50%;
}
.talles{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.talles button{
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1300px) {
    .botonCarrito{
        width: 100%;
    }
    .historyProductInfo{
        margin: auto;
        margin-top: 12%;
    }
    .infoProduct{
        width: 100%;
    }
    .guiaTalles div img{
        max-width: 100%;
    }
}
