.guiaCompra{
    font-size: 20px;
}
.tittleGuiaCompra{
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}
.guiaCompra  div div{
    text-align: center;
    margin-top: 2%;
}
.guiaCompra div div article img{
    height: auto;
}
.buttonGuiaCompraTienda{
    font-size: 1.4rem;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    cursor: pointer;
}
.buttonGuiaCompraTienda:hover {
    transform: translateY(6px);
}