.footerHub{
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid;
    margin-top: 20px;
}
.footerHub > section > article{
    padding: 12px;
}
.footerHub > section > article > p{
    padding: 10px;
}
.linkSocialMedia > img{
    width: 12%;
    margin: 20px;
}
.footerMetodoPago img{
    width: 100%;
    height: auto;
}
.nosEncontras{
    font-size: 30px;
    text-decoration: underline;
}
.nosEncontrasContacto{
    font-size: 35px;
    text-decoration: underline;
}
@media screen and (max-width: 930px) {
    .footerHub > section > article > a img{
        width: 12%;
    }
}