.headerHubNavBarList{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}
.headerHubNavBarList > li p{
    font-size: 2rem;
    height: 60px;
    width: 260px;
    border-radius: 20px;
    background-color: rgb(71, 71, 216);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerHubNavBarList > li:hover{
    transform: translateY(6px);
}
.marquee{
    width: 100%;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    padding: 12px;
}
.marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite;
    font-size: 1.30rem;
}
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
.carrouselImg{
    display: flex;
    justify-content: center;
}
.carrouselImg img{
    width: 100%;
}
  
.navButton {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}
.barList{
    color: #fff;
    display: block;
    border: 1px solid;
    border-radius: 50px;
    padding: 12px;
    cursor: pointer;
    width: 100%;
}
.varHeaderDiv{
    max-width: 4%;
}
.varHeader{
    background-image: url(/fondoLetra.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categoriasDeslizantes{
    display: flex;
    justify-content: flex-start;
    height: 900px;
    width: 15%;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    font-size: 25px;
}
.categoriasDeslizantesDeportivo{
    display: flex;
    justify-content: center;
}
.categoriasDeslizantes div{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    flex-direction: column;
    align-items: center;
}
.categoriasDeslizantes div p{
    cursor: pointer;
    text-decoration: underline;
}
.categoriasDeslizantesDeportivo div{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.categoriasDeslizantesDeportivo div p {
    padding: 12px;
}
.categoriaDesplizanteDeportivoHombre p{
    margin-left: 80px;
}
@media screen and (max-width: 1600px) {
    .categoriasDeslizantes{
        width: 60%;
    }
}
@media screen and (max-width: 1250px) {
    .varHeaderDiv{
        max-width: 7%;
    }
}
@media screen and (max-width: 1000px) {
    .categoriasDeslizantes{
        width: 70%;
    }
}
@media screen and (max-width: 900px) {
    .headerHubCarrouselMarquee{
        width: 100%;
        margin: auto;
    }
    .varHeaderDiv{
        max-width: 10%;
    }
}
@media screen and (max-width: 570px) {
    .headerHubNavBarList > li p{
        width: auto;
    }
    .categoriasDeslizantes{
        width: 90%;
    }
}