.headerHub {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerHub > img {
    width: 7%;
}
.headerHubNavBarList{
    display: flex;
    justify-content: space-around;
}
.headerHubNavBarList > li:hover{
    color: rgb(40, 40, 255);
    border-style:inset;
}
.headerHubCarrousel{
    width: 100%;
    height: 680px;
    margin-top: 20px;
    border: solid 1px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: carrousel 12s infinite;
}
@keyframes carrousel {
    0%{
        background-image: url(/CarrouselImg1.webp);
    }
    25%{
        background-image: url(/CarrouselImg1.webp);
    }
    50%{
        background-image: url(/CarrouselImg2.webp);
    }
    85%{
        background-image: url(/CarrouselImg3.webp);
    }
    100%{
        background-image: url(/CarrouselImg1.webp);
    }
}
.headerHubCarrouselMarquee{
    width: 25%;
    margin-left: 37%;
    padding-top: 7px;
}
@media screen and (max-width: 900px) {
    .headerHubCarrouselMarquee{
        width: 100%;
        margin: auto;
    }
}