.headerHub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d9e2;
}
.headerHub > img {
    width: 7%;
}
.headerHubNavBarList{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: #d6d9e2;
}
.headerHubNavBarList > li p{
    font-size: 2rem;
    height: 60px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(71, 71, 216);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerHubNavBarList > li:hover{
    transform: translateY(6px);
}
.headerHubCarrouselMarquee{
    width: 35%;
    margin-left: 37%;
    padding-top: 2%;
    font-size: 18px;
}

.carrouselImg{
    display: flex;
    justify-content: center;
}
.carrouselImg img{
    width: 80%;
    height: auto;
}
  
.navButton {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}
  
@media screen and (max-width: 900px) {
    .headerHubCarrouselMarquee{
        width: 100%;
        margin: auto;
    }
}