.sobreNosotros{
    padding-top: 60px;
}
.sobreNosotros > h2{
    text-align: center;
}
.sobreNosotros > div > section >article > img{
    max-width: 150px;
    object-fit: cover;
    border: 2.5px solid;
    padding: 0.5rem;
}
.sobreNosotros > div > section {
    margin-top: 60px;
}
.sobreNosotros > section{
    text-align: center;
}
.sobreNosotros > div > section > article{
    display: flex;
    flex-wrap: wrap;
}
.sobreNosotros > div{
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-size: 20px;
    text-align: center;
}
.sobreNosotros__info{
    margin-left: 15rem;
    padding: 15px;
}
.sobreNosotros__info > article {
    font-size: 1.5rem;
    height: 45px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(71, 71, 216);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}
.sobreNosotros__info > article:hover {
    transform: translateY(6px);
}
@media screen and (min-width: 300px) {
    .sobreNosotros__info > article {
        width: 50%;
    }
}
