.sobreNosotros{
    padding-top: 60px;
    display: flex;
}
.sobreNosotros div{
    display: flex;
    align-items: center;
}
.sobreNosotros div section > section{
    display: flex;
    flex: 1;
    gap: 30px;
    padding: 12px;
}
.sobreNosotros div section article{
    border: 1px solid;
    border-radius: 12px;
    overflow: hidden;
}
.sobreNosotros div section article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 1300px) {
    .sobreNosotrosEdit{
        width: 60%;
        margin: auto;
    }
}
@media screen and (max-width: 1150px) {
    .sobreNosotros div{
        display: flex;
        flex-direction: column;
    }
}