@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.productsHub{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.productsHub > h2 {
    display: flex;
    justify-content: center;
}
.productsHub > article {
    padding: 20px;
    border: 1px solid;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    height: 440px;
}
.productsHub__div{
    display: flex;
    align-items: center;
    height: 75px;
}
.productsHub__accesoDirectoTienda{
    display: flex;
    height: auto;
    gap: 1rem;
}
.productsHub__accesoDirectoTienda section {
    width: 25%;
}
.productsHub__accesoDirectoTienda > section > div{
    display: flex;
    height: 160px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    gap: 1rem;
}
.productsHub__img img{
    width: 100%;
    height: 146px;
}
.productsHub__accesoDirectoTienda > section{
    border: 1px solid black;
    border-radius: 12px;
}
.buttonTienda{
    margin: auto;
    font-size: 1.5rem;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background-image: url(/fondoLetra.jpg);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.productsHub > article > div > article:hover{
    transform: translateY(6px);
}
.sobreNosotros__info{
    padding: 15px;
    text-align: center;
    margin: auto;
    font-size: 30px;
}
.sobreNosotros__info > article {
    font-size: 1.4rem;
    height: 70px;
    width: 300px;
    border-radius: 20px;
    background-image: url(/fondoLetra.jpg);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}
.sobreNosotros__info > article:hover {
    transform: translateY(6px);
}

.productsHub__h2{
    margin-top: 60px;
    font-size: 40px;
}
.productsHub__h3{
    font-size: 47px;
    margin: auto;
    font-family: 'Permanent Maker';
    font-weight: 400;
    background-image: url(/fondoLetra.jpg);
    border-radius: 30px;
    width: 50%;
    text-align: center;
    color: #ffff;
}
.metodosPago{
    margin-top: 12px;
    border-top: 1px solid;
    text-align: center;
}
.metodosPago h2{
    font-size: 30px;
}
.metodosPago div{
    margin-top: 20px;
}
.metodosPago div p{
    font-size: 20px;
    padding: 5px;
}
@media screen and (max-width: 1100px) {
    .productsHub > article{
        width: 100%;
    }
    .productsHub__accesoDirectoTienda{
        width: 100%;
    }
    .sobreNosotros__info{
        margin: auto;
    }
}
@media screen and (max-width: 570px) {
    .productsHub__accesoDirectoTienda > section > div img{
        width: 100%;
        height: 322;
    }
    .productsHub > article > div > article{
        width: auto;
    }
    .productsHub__h2{
        font-size: 40px;
    }
    .productsHub__h3{
        font-size: 35px;
    }
}
@media screen and (max-width: 500px) {
    .productsHub__accesoDirectoTienda{
        gap: 0.2rem;
    }
    .productsHub__accesoDirectoTienda > section > div img{
        width: 100%;
        height: 322;
    }
    .productsHub > article > div > article{
        width: auto;
    }
}