html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, sans-serif;
  color: #ffff;
  background-image: url(/fondoPage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
